# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# ML artifacts (keep only if you really want them versioned)
mlruns/
models/
monitoring/
data/raw/
data/processed/
data/external/
